@font-face {
  font-family: 'KumbhSans';
  src: url(./assets/static/KumbhSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'KumbhSans';
  src: url(./assets/static/KumbhSans-Bold.ttf);
  font-weight: 700;
}

html{
  width: 100%;
  height: 100%;
  font-family: 'KumbhSans';
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color:  hsl(185, 75%, 39%);
  background-image: url(./assets/bg-pattern-top.svg), url(./assets/bg-pattern-bottom.svg);
  background-position-x: -400px, 650px ;
  background-position-y: -600px, 250px;
  background-repeat: no-repeat;
 
 
  
}

#root{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 375px) {
body{
  background-position-x: -780px, 150px ;
  background-position-y: -500px, 220px;

 
}

}